/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
}

.logo a {
    margin-right: 15px;
    margin-left: 15px;
}

.nav-links a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.selection-container {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.selectors {
    flex: 1;
    max-width: 50%;
    border-radius: 15px;
    background-color: #e2ece6;
    box-sizing: border-box;
    padding: 15px;
}

.sliders-container {
    flex: 2;
    border-radius: 15px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: 15px;
}

.slider-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.slider-group label {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


label, select, button, input[type="number"], input[type="range"], .teams-container {
    width: 100%;
    margin-bottom: 10px;
}

.rankings-placeholder {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
    .selection-container {
        flex-direction: column;
    }

    .selectors {
        max-width: 100%;
    }
}